In [28]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('Seaborn_Batsman.csv')
data.head()

   RunsScored  BallsFaced  BattingPosition Dismissal  Inning Opposition  Year
0          12          22                2       LBW       1  Sri Lanka  2008
1          37          67                2    Caught       2  Sri Lanka  2008
2          25          38                1   Run out       1  Sri Lanka  2008
3          54          66                1    Bowled       1  Sri Lanka  2008
4          31          46                1       LBW       2  Sri Lanka  2008

In [16]:
data.isnull().sum()

RunsScored         0
BallsFaced         0
BattingPosition    0
Dismissal          0
Inning             0
Opposition         0
Year               0
dtype: int64

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [20]:
total_Run_Scored = data['RunsScored'].sum()
print(total_Run_Scored)

10232

In [22]:
import pandas as pd
unique_countries = data['Opposition'].dropna().unique().tolist()
print(unique_countries)

['Sri Lanka', 'Pakistan', 'West Indies', 'Australia', 'Bangladesh', 'South Africa', 'Zimbabwe', 'New Zealand', 'England', 'Ireland', 'Netherlands', 'U.A.E.']

In [24]:
data['Runs'] = pd.to_numeric(data['RunsScored'], errors='coerce')
country_runs = data.groupby('Opposition')['RunsScored'].sum().sort_values(ascending=False)
print(country_runs)

Opposition
Sri Lanka       2186
West Indies     1840
South Africa    1269
Australia       1182
New Zealand     1154
England         1112
Bangladesh       654
Pakistan         459
Zimbabwe         253
Ireland           78
U.A.E.            33
Netherlands       12
Name: RunsScored, dtype: int64